.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 3px;
}

.cardsWrap {
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  row-gap: 30px;
  align-items: end;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.footer {
  align-self: flex-end;
}